.user-profile {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
  }
.view-mode{
    width:20%;
    background-color:grey;
}
